/SC3020-DSP/obj/Debug/net6.0/ref/SC3020-DSP.dll
/SC3020-DSP/obj/Debug/net6.0/refint/SC3020-DSP.dll
/SC3020-DSP/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/SC3020-DSP/obj/Debug/net6.0/apphost
/SC3020-DSP/obj/Debug/net6.0/SC3020-DSP.AssemblyInfo.cs
/SC3020-DSP/obj/Debug/net6.0/SC3020-DSP.AssemblyInfoInputs.cache
/SC3020-DSP/obj/Debug/net6.0/SC3020-DSP.assets.cache
/SC3020-DSP/obj/Debug/net6.0/SC3020-DSP.csproj.AssemblyReference.cache
/SC3020-DSP/obj/Debug/net6.0/SC3020-DSP.csproj.CoreCompileInputs.cache
/SC3020-DSP/obj/Debug/net6.0/SC3020-DSP.csproj.FileListAbsolute.txt
/SC3020-DSP/obj/Debug/net6.0/SC3020-DSP.dll
/SC3020-DSP/obj/Debug/net6.0/SC3020-DSP.GeneratedMSBuildEditorConfig.editorconfig
/SC3020-DSP/obj/Debug/net6.0/SC3020-DSP.genruntimeconfig.cache
/SC3020-DSP/obj/Debug/net6.0/SC3020-DSP.GlobalUsings.g.cs
/SC3020-DSP/obj/Debug/net6.0/SC3020-DSP.pdb
/SC3020-DSP/obj/project.assets.json
/SC3020-DSP/obj/project.nuget.cache
/SC3020-DSP/obj/project.packagespec.json
/SC3020-DSP/obj/rider.project.model.nuget.info
/SC3020-DSP/obj/rider.project.restore.info
/SC3020-DSP/obj/SC3020-DSP.csproj.nuget.dgspec.json
/SC3020-DSP/obj/SC3020-DSP.csproj.nuget.g.props
/SC3020-DSP/obj/SC3020-DSP.csproj.nuget.g.targets
SC3020-DSP/bin/Debug/net6.0/CsvHelper.dll
SC3020-DSP/bin/Debug/net6.0/SC3020-DSP
SC3020-DSP/bin/Debug/net6.0/SC3020-DSP.dll
SC3020-DSP/bin/Debug/net6.0/SC3020-DSP.pdb
SC3020-DSP/bin/Debug/net6.0/CsvHelper.dll
SC3020-DSP/bin/Debug/net6.0/SC3020-DSP.dll
SC3020-DSP/bin/Debug/net6.0/SC3020-DSP.pdb
